<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="faq pulp fiction app">
    <meta name="author" content="Pulp Fiction">
    <!-- Le styles -->
    <link href="assets/bootstrap.css" rel="stylesheet">
    <link href="assets/bootstrap-responsive.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
    </script>
    <script src="assets/bootstrap.js">
    </script>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"> -->
    <style>
    </style>
  </head>
  <body>

    <div class="container-narrow" id="faq">

        <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <!-- <li class=""><a href="#" class="">Home</a></li> -->
            <li class=""><%= link_to "Home", :action => 'index', :controller => 'sites' %></li>
            <li class="active"><a href="/faq" class="">FAQ</a></li>
            <li class=""><a href="#" class="">Contact</a></li>
          </ul>
          <!-- <h3 class="muted" id="topbar">Pulp Fiction</h3> -->
          <%=link_to image_tag("logo1.png", :width => '25%'), {:action => 'index', :controller => 'sites'} %> 
        </div>

        <hr class="">

        <!-- <h3 class="">Frequently Asked Questions</h3> -->

    	<div class="well">
    		<h4 class="">
    			How much does this cost?&nbsp;
    		</h4>
    		<p class="text-left">
    			The application will be free to download and use for writers and readers.
    			We are not selling any content through the platform so there will be no
    			money or monetization involved. We are hoping to provide exposure to great
    			content and their creators as they rightfully deserve.
    			<br>
    		</p>
    	</div>
    	<div class="well">
    		<h4 class="">
    			Is it only available for iPads?&nbsp;
    		</h4>
    		<p>
    			The app is currently available only for iPad but development for other
    			platforms is in the works. We are working hard to bring this to everyone
    			very soon. You can still submit your content and have it hosted on Pulp
    			Fiction by emailing: submissions@pulpfictionapp.com
    		</p>
    		<p>
    		</p>
    	</div>
    	<div class="well">
    		<h4 class="">
    			Is there a web version?&nbsp;
    		</h4>
    		<p class="">
    			Even if you don’t have an iPad, you’ll be able to view the stories you’ve
    			uploaded and see stats such as how many people have viewed and bookmarked
    			your story from a web view. However, to browse and discover content, we
    			feel that mobile applications offer the best experience.&nbsp;
    			<br>
    		</p>
    	</div>
    	<div class="well">
    		<h4 class="">
    			Will I retain ownership of my work?&nbsp;
    		</h4>
    		<p>
    			The copyrights of the work submitted to Pulp Fiction will belong to the
    			author. We only want to provide a platform to showcase your work. You will
    			have full control of your work, in terms of how you would like to release,
    			display and distribute it.&nbsp;
    			<br>
    		</p>
    	</div>
    	<div class="well">
    		<h4>
    			How do I get involved?&nbsp;
    		</h4>
    		<p class="">
    			We’d love for you to submit your work to submissions@pulpfictionapp.com
    			in docx or txt format. It would be great if you could also include a cover
    			image for your submission. This will be passed on to our editors and we’ll
    			keep you updated!
    			<br>
    		</p>
    	</div>
    	<div class="well">
    		<h4 class="">
    			What kind of content are you looking for?&nbsp;
    		</h4>
    		<p class="">
    			We're looking for fiction content in general including poetry. The format
    			and length is completely upto the writer's discretion in how they would
    			like to share their work with the audience.&nbsp;
    			<br>
    		</p>
    	</div>
    	<div class="well">
    		<h4 class="">
    			How is the content curated?&nbsp;
    		</h4>
    		<p class="">
    			All submitted content is passed onto our editing team, who provide quality
    			control and send feedback to the submitted author if the content is not
    			selected to be published on the platform yet.&nbsp;
    			<br>
    		</p>
    	</div>
    	<div class="well">
    		<h4>
    			Where can I download this?&nbsp;
    		</h4>
    		<p>
    			Pulp Fiction will be available on the App Store very soon!&nbsp;
    		</p>
    	</div>
    	
    </div>
    <!-- /container -->

    <style>

        body {
            padding-top: 20px;
            padding-bottom: 40px;
            font-family: 'Open Sans', sans-serif;
          }
          
          /* Custom container */
          .container-narrow {
            margin: 0 auto;
            max-width: 700px;
          }
          .container-narrow > hr {
            margin: 30px 0;
          }
        
        .well {
            width: 75%;
        }

        @media (max-width: 979px) {
            .navbar-fixed-top {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
            }
        }

        @media (max-width: 768px) {
            .navbar-fixed-top {
                padding-left: 20px;
            }

            .wut {
                padding-left: 10px;
            }
        }
      
    </style>
  </body>
</html>
