<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>Pulp Fiction
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pulp fiction app writing reading sharing application">
    <meta name="author" content="Pulp Fiction">
    <!-- Stylesheets -->
    <link href="assets/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="assets/bootstrap-responsive.css" rel="stylesheet">
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet">
    <link rel="stylesheet" href="assets/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="assets/bootstrap.js">
    </script>
    <script src="/assets/jquery.prettyPhoto.js">
    </script>
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png"> -->
    <style>
    </style>
  </head>
  <body>
    
      <div class="container-narrow" id="main">
        <div class="masthead">
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#" class="">Home</a></li>
            <li class=""><a href="/faq" class="">FAQ</a></li>
            <li class=""><a href="#" class="">Contact</a></li>
          </ul>
          <!-- <h3 class="muted" id="topbar">Pulp Fiction</h3> -->
          <%=link_to image_tag("logo1.png", :width => '35%'), {:action => 'index', :controller => 'sites'} %> 
        </div>
    
        <hr class="">
    
        <div class="jumbotron">
          <h1 class="" id="tagline">Discover New Writing in a New Way</h1>
          <p style="padding-bottom: 20px;"><a href="https://www.youtube.com/watch?v=zwJeCijimv4&hd=1" rel="prettyPhoto" class="btn btn-primary btn-large">View Demo</a></p>

          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">                 
                    <p>
                        <img src="assets/pf-screen-home.jpg" alt="home" style="width: 40%"/>                     
                    </p>         
                    <article class="carousel-caption">                                         
                        <h3>View all the latest stories in a rich & intuitive feed</h3>
                        <p class="center-align">Read something amazing & Discover new favorite Writers.</p>  
                    </article>                                        
                </div>
                <div class="item">      
                    <p>                           
                        <img src="assets/pf-screen-read.jpg" alt="read" style="width: 40%"/>          
                    </p>           
                    <article class="carousel-caption">                  
                        <h3>Read stories in a clean, distraction free reader</h3>       
                        <p class="center-align">Bookmark stories to save for later, and pickup where you left off.</p>                                                   
                    </article>
                </div>
                <div class="item">                  
                    <p>                                           
                        <img src="assets/pf-screen-profile.jpg" alt="profile" style="width: 40%"/>          
                    </p>      
                    <article class="carousel-caption">                        
                        <h3>Tag to classify your uploads and view statistics</h3>       
                        <p class="center-align">From cover art to hashtag classification, showcase your content, your way! </p>                            
                    </article>
                </div>
               
            </div> 
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>           
        </div> 

        <!-- <a href="https://www.youtube.com/watch?v=zwJeCijimv4&hd=1" rel="prettyPhoto" class="big-btn">View Demo</a> -->


          <!-- <a class="btn btn-success" href="https://www.youtube.com/watch?v=zwJeCijimv4&hd=1" id="video_button" rel="prettyPhoto"><i class="icon-film" style="margin-top: 4px;"></i>&nbsp;See Demo Video<br></a> -->
        </div>
    
        <hr>
    
        <div class="row-fluid marketing">
          <div class="span6" id="left_col">
            
            <h4 class="">Showcase</h4><p class="">Use Pulp Fiction to showcase your style and talent. Build hype and gather a new audience of fans and peers.&nbsp;</p>
    
            <h4 class="">Email Upload</h4>
            <p class="">Write in the comfort of your favorite text editor, and once you're done, simply email your creations to us.</p>
    
            <h4 class="">Focus on Content</h4>
            <p class="">Pulp Fiction is all about the content and their creators. The experience is clean and distraction free to keep the focus on the content itself.&nbsp;</p>
          </div>
    
          <div class="span6" id="right_col">
            <h4 class="">Discover</h4>
            <p class="">Pulp Fiction will host the best and freshest works in fiction. Discover new favorite writers and great stories right here.&nbsp;</p>
    
            <h4 class="">Bookmark</h4>
            <p class="jetstrap-highlighted">Want to save your place, a quote or a favorite story? One tap bookmarking adds it to your profile for later.&nbsp;</p>
    
            <h4 class="">Your Content, Your Way</h4>
            <p class="">Your content will always belong to you. Format it as you would like to display it. Release it at your own schedule.&nbsp;</p>
          </div>
        </div>
    
        <hr class="">
    
        <div class="footer">
          <p class="jetstrap-selected" id="footer">© Pulp Fiction 2013</p>
        </div>
    
      </div> <!-- /container -->
    

    <style>
      
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }
      
      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
      
      /* Main marketing message and sign up button */
      .jumbotron {
        /*margin: 60px 0;*/
        text-align: center;
      }
      .jumbotron h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 36px;
        line-height: 1;
        padding-bottom: 20px;
      }
      .jumbotron .btn {
        font-size: 20px;
        padding: 12px 24px;
      }

      @media (max-width: 480px) {
        .jumbotron h1 {
          font-size: 24px;
        }

        .jumbotron .btn {
          font-size: 16px;
          padding: 8px 14px;
        }

        h3#logo {
          width: 75%;
        }

        .carousel-caption h3 {
          font-size: 16px;
        }

        .carousel-caption > p {
          font-size: 12px;
        }
      }

      
      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

            /*
      * carousel
      */
      .carousel a {
        color: #ffffff;
      }

      .carousel .item a { 
        color: #3799ca;
      }

      .carousel-caption 
      {
        position: static;
        background: transparent;  
      }

      .carousel .item > p,
      .carousel-caption p
      {   
        font: 14px/23px 'Open Sans', sans-serif;  
          text-shadow:#ffffff 0 1px 0;
        color: #333333;
        text-align: center;
      }
      
    </style>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $("a[rel^='prettyPhoto']").prettyPhoto({
                theme: 'dark_square',
                default_width: 640,
                default_height: 480,
                deeplinking: false,
                social_tools: false
            });
        });
    </script>
  </body>
</html>
